*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    height: 100%;
}

.top{
    
    width: 100%;
}

.title{
    display: flex; /*flexbox follows parent-child relationship*/
    width: 100%;
    justify-content: center;
}

#title-text{
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
}

.intro{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.intro-text{
    margin: 0 auto;
    font-family: 'Creepster', cursive;
    font-size: 50px;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 2px;
    animation: type 3.5s steps(100,end);
}

@keyframes type{
    from {width: 0} to {width: 70%}
}

.round{
    display: flex;
    justify-content: center;
    flex-basis: 25%;
}

.round p{
    margin-right: 25px;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}

.scores{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.compscore, .userscore{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.compscore p, .userscore p{
    margin-right: 25px;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}

.movedescription{
    display: flex;
    justify-content: center;
}

.moveresulttext{
    margin: 0 0 20px 0;
    flex-basis: 75%;
}

.moveresulttext p{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

.finaldescription{
    display: flex;
    justify-content: center;
}

.finalresulttext{
    margin: 0 0 20px 0;
}

.finalresulttext p{
    font-family: 'Permanent Marker', cursive;
    color: red;
    font-size: 60px;
}

img{
    width: 150px;
    height: 150px;
    border: solid 2px black;
    border-radius: 50%;
}

.moves-selector{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.rockimg, .paperimg, .scissorsimg{
    margin: 0 30px;
}

.footer{
    margin-top: 30px;
    position: relative;
    bottom: 0%;
    height: 35px;
    background-color:cyan;
}

.footer-text{
    display: flex;
    justify-content: center;
    
}

.acknowledgement{
    display: flex;
    align-items: center;
    
}

.acknowledgement p{
    word-spacing: 3px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

