*{
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.body-content{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px 0;
}






ul{
    list-style-position: none;
    margin: 0;
    padding: 0;
    float: right;
    display: inline;
}

li{
    display: inline;
    float: left;
}

li.a{
    padding-left: 15px;
}

.top-navigation{
    text-align: right;
    width: 100%;
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.direct-links{
    margin-right: 15px;
}

.nav-list li{
    padding-right: 30px;
}


#gapps{
    width: 17px;
    height: 17px;
    position: absolute;
}

#acclogo{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.form{
    max-width: 584px;
}

.main-search{
    display: flex;
    align-items: center;
}

.search-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search-logo svg{
    width: 20px;
    height: 20px;
}

.search-input{
    width: 100%;

}

.search-input input{
    width: 100%;
    height: 100%;
}

.mic-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mic-logo svg{
    width: 20px;
    height: 20px;
}

.bottom-navigation{
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
}